@tailwind base;
@tailwind components;
@tailwind utilities;



/* Platform Medium */
@font-face {
  font-family: 'Platform';
  src: url('./assets/fonts/Platform-Medium.ttf') format('truetype'),
       url('./assets/fonts/platform-medium-webfont.woff2') format('woff2'),
       url('./assets/fonts/platform-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} 

/* ShigaWeb Bold */
@font-face {
  font-family: 'ShigaWeb';
  src: url('./assets/fonts/ShigaWeb-Bold.otf') format('opentype'), 
       url('./assets/fonts/shigaweb-bold-webfont.woff2') format('woff2'),
       url('./assets/fonts/shigaweb-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* ShigaWeb Heavy */
@font-face {
  font-family: 'ShigaWeb';
  src: url('./assets/fonts/ShigaWeb-Heavy.otf') format('opentype'),
       url('./assets/fonts/shigaweb-heavy-webfont.woff2') format('woff2'),
       url('./assets/fonts/shigaweb-heavy-webfont.woff') format('woff');
  font-weight: 900; 
  font-style: normal;
}

/* ShigaWeb Medium */
@font-face {
  font-family: 'ShigaWeb';
  src: url('./assets/fonts/ShigaWeb-Medium.otf') format('opentype'),
       url('./assets/fonts/shigaweb-medium-webfont.woff2') format('woff2'),
       url('./assets/fonts/shigaweb-medium-webfont.woff') format('woff');
  font-weight: 500; 
  font-style: normal;
}

/* ShigaWeb Regular */
@font-face {
  font-family: 'ShigaWeb';
  src: url('./assets/fonts/ShigaWeb-Regular.otf') format('opentype'),
       url('./assets/fonts/shigaweb-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/shigaweb-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



h2{
  @apply text-3xl my-1 font-medium font-[Platform] tracking-wide;
}

button{
  @apply bg-[#343433] w-full text-white text-sm text-center rounded-lg py-2 my-3
}

input[type=text],
input[type=number],
input[type=password],
input[type=email],
input[type=tel],
textarea{
  @apply  w-full border-2 rounded-md p-2 my-2 text-sm placeholder:text-[#CCCCCC] outline-none;
}

.link{
  @apply mr-4 text-neutral-400 border-t-2 pt-2;
}

label{
  @apply block w-full pt-1 text-xs;
}

.set-up ul li{
  @apply text-[10px] text-[#99999C] py-1;
}